# Jupyter Notebook + Python + Pandas

Ingresar y visualizar datos con Pandas

## Import Pandas
1. pandas

In [1]:
import pandas as pd

## Read data and import to DataFrame
#### 1. read_csv
#### 2. import csv file (into data folder)
#### 3. "Skip-rows" uses for skip the first 5 lines in the csv file
#### 4. "Delimiter" uses for separate the data in the file with ";"

In [18]:
data = pd.read_csv('./data/VentasPorProveedor.csv', skiprows=5,delimiter=';')

## Show data

In [20]:
data

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/1/2016,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/1/2016,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/1/2016,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/1/2016,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/1/2016,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"
...,...,...,...,...,...,...,...
455,31/1/2016,Sarah Bond,Sur,Bufanda,Vestimenta,6,"16,50"
456,31/1/2016,Dustin Gee,Este,Sandalias,Vestimenta,11,"115,50"
457,31/1/2016,Dustin Gee,Este,Sánguche de Queso,Comestibles,4,"6,40"
458,31/1/2016,Dustin Gee,Norte,Escobillón,Hogar,8,"6,80"
459,31/1/2016,Trevor Snodgrass,Sur,Pepinillo,Comestibles,7,"2,10"

## Show dataframe dimensions (Shape[])
1. Shape[0] = Number of rows
2. Shape[1] = Number of columns
3. shape = (rows, columns)

In [21]:
data.shape

(460, 7)

In [13]:
data.shape[0]

461

In [22]:
data.shape[1]

7

## Show the first 5 rows (head[])
1. head() = Show the first 5 rows
2. By default, head() show the first 5 rows

In [23]:
data.head()

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/1/2016,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/1/2016,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/1/2016,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/1/2016,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/1/2016,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"

In [24]:
data.head(10)

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/1/2016,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/1/2016,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/1/2016,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/1/2016,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/1/2016,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"
5,1/1/2016,Trevor Snodgrass,Este,Cerveza,Comestibles,15,"6,00"
6,1/1/2016,Boris Stanford,Norte,Pepinillo,Comestibles,14,"4,20"
7,1/1/2016,Steve Ashton,Oeste,Gorras,Vestimenta,2,"4,20"
8,1/1/2016,Trevor Snodgrass,Este,Pan,Comestibles,12,"4,80"
9,1/1/2016,Sarah Bond,Este,Caramelos,Comestibles,15,"9,00"

## Show the last 5 rows (tail[])

In [25]:
data.tail()

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
455,31/1/2016,Sarah Bond,Sur,Bufanda,Vestimenta,6,"16,50"
456,31/1/2016,Dustin Gee,Este,Sandalias,Vestimenta,11,"115,50"
457,31/1/2016,Dustin Gee,Este,Sánguche de Queso,Comestibles,4,"6,40"
458,31/1/2016,Dustin Gee,Norte,Escobillón,Hogar,8,"6,80"
459,31/1/2016,Trevor Snodgrass,Sur,Pepinillo,Comestibles,7,"2,10"

## Show dataframe information (info())
1. info() = Show the dataframe information as the number of rows, columns, data types, and memory usage

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha      460 non-null    object
 1   Vendedor   460 non-null    object
 2   Región     460 non-null    object
 3   Artículo   460 non-null    object
 4   Categoría  460 non-null    object
 5   Unidades   460 non-null    int64
 6   Ganancia   460 non-null    object
dtypes: int64(1), object(6)
memory usage: 25.3+ KB

## Show counts with value_counts()
1. value_counts() = Show the counts of the unique values in the column of the series
2. We can specify order the values with the parameter "ascending=True/False", by default ascending=True

In [27]:
data.Vendedor.value_counts()

Vendedor
Sarah Bond          86
Steve Ashton        84
Desmond Delaney     76
Trevor Snodgrass    75
Dustin Gee          70
Boris Stanford      69
Name: count, dtype: int64

In [28]:
data.Región.value_counts()

Región
Este     138
Sur      120
Oeste    102
Norte    100
Name: count, dtype: int64

In [30]:
data.Artículo.value_counts()

Artículo
Escoba               31
Bufanda              28
Pan                  26
Sánguche de Queso    25
Escobillón           25
Chocolate            25
Detergente           24
Pepinillo            24
Sudadera             24
Lejía                24
Calcetines           23
Gorras               21
Medias Femeninas     20
Sandalias            19
Shorts               19
Soda                 19
Limpiavidrios        18
Bombilla             18
Caramelos            17
Cerveza              17
Trapo Piso           13
Name: count, dtype: int64

In [32]:
data.Vendedor.value_counts(ascending=True)

Vendedor
Boris Stanford      69
Dustin Gee          70
Trevor Snodgrass    75
Desmond Delaney     76
Steve Ashton        84
Sarah Bond          86
Name: count, dtype: int64

# If exists null values (dropna=False)
1. dropna delete the null values or rows with null values and exclude from the count, by default dropna=True

In [33]:
data.Vendedor.value_counts(dropna=False)

Vendedor
Sarah Bond          86
Steve Ashton        84
Desmond Delaney     76
Trevor Snodgrass    75
Dustin Gee          70
Boris Stanford      69
Name: count, dtype: int64

## Sort Values (sort_values())
1. object.sort_values(axis=0), axis=0 is the default value
2. na_position='first' or 'last' for the position of the null values
3. for multiple columns, we can use the parameter by=['column1', 'column2']

In [34]:
data.Vendedor.sort_values()

198      Boris Stanford
71       Boris Stanford
66       Boris Stanford
259      Boris Stanford
64       Boris Stanford
             ...
212    Trevor Snodgrass
209    Trevor Snodgrass
206    Trevor Snodgrass
286    Trevor Snodgrass
459    Trevor Snodgrass
Name: Vendedor, Length: 460, dtype: object

In [35]:
data.sort_values(by=['Vendedor', 'Ganancia'])

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
93,6/1/2016,Boris Stanford,Norte,Chocolate,Comestibles,2,"0,96"
450,31/1/2016,Boris Stanford,Este,Chocolate,Comestibles,3,"1,44"
259,18/1/2016,Boris Stanford,Sur,Pepinillo,Comestibles,5,"1,50"
25,2/1/2016,Boris Stanford,Este,Pan,Comestibles,4,"1,60"
64,5/1/2016,Boris Stanford,Sur,Pan,Comestibles,4,"1,60"
...,...,...,...,...,...,...,...
231,15/1/2016,Trevor Snodgrass,Este,Gorras,Vestimenta,4,"8,40"
314,21/1/2016,Trevor Snodgrass,Oeste,Bombilla,Hogar,14,"8,40"
328,22/1/2016,Trevor Snodgrass,Oeste,Bombilla,Hogar,14,"8,40"
69,5/1/2016,Trevor Snodgrass,Norte,Calcetines,Vestimenta,4,"9,00"
238,16/1/2016,Trevor Snodgrass,Sur,Shorts,Vestimenta,2,"9,80"

## Boolean Indexing
1. We can find the rows that meet a condition for example search all rows where the column or serie 
'Articulo' is equal to 'Gorras'.
2. We can apply multiple conditions with the operators "&" for "and" and "|" for "or"
3. If we only write 'data.Articulo == 'Gorras' we can see the rows that meet the condition(True or False) and this is not useful
4. For multiple conditions, we need to use parentheses for each condition:
    data[(data.Articulo == 'Gorras') & (data.Region == 'Norte')] or
    object[(condition1) & (condition2)]

In [36]:
data[data.Artículo == 'Gorras']

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
2,1/1/2016,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
7,1/1/2016,Steve Ashton,Oeste,Gorras,Vestimenta,2,"4,20"
38,4/1/2016,Steve Ashton,Oeste,Gorras,Vestimenta,13,"27,30"
57,4/1/2016,Dustin Gee,Este,Gorras,Vestimenta,2,"4,20"
85,6/1/2016,Sarah Bond,Norte,Gorras,Vestimenta,9,"18,90"
156,10/1/2016,Trevor Snodgrass,Norte,Gorras,Vestimenta,7,"14,70"
159,11/1/2016,Steve Ashton,Norte,Gorras,Vestimenta,2,"4,20"
170,11/1/2016,Sarah Bond,Este,Gorras,Vestimenta,9,"18,90"
186,12/1/2016,Sarah Bond,Este,Gorras,Vestimenta,11,"23,10"
187,12/1/2016,Dustin Gee,Sur,Gorras,Vestimenta,13,"27,30"
201,14/1/2016,Desmond Delaney,Norte,Gorras,Vestimenta,5,"10,50"
231,15/1/2016,Trevor Snodgrass,Este,Gorras,Vestimenta,4,"8,40"
319,22/1/2016,Dustin Gee,Este,Gorras,Vestimenta,11,"23,10"
360,25/1/2016,Steve Ashton,Norte,Gorras,Vestimenta,7,"14,70"
368,26/1/2016,Boris Stanford,Norte,Gorras,Vestimenta,7,"14,70"
394,27/1/2016,Steve Ashton,Norte,Gorras,Vestimenta,14,"29,40"
396,27/1/2016,Trevor Snodgrass,Norte,Gorras,Vestimenta,3,"6,30"
414,28/1/2016,Trevor Snodgrass,Sur,Gorras,Vestimenta,8,"16,80"
420,29/1/2016,Sarah Bond,Este,Gorras,Vestimenta,13,"27,30"
426,29/1/2016,Sarah Bond,Este,Gorras,Vestimenta,7,"14,70"
440,30/1/2016,Trevor Snodgrass,Este,Gorras,Vestimenta,6,"12,60"

In [37]:
data.Artículo == 'Gorras'

0      False
1      False
2       True
3      False
4      False
       ...
455    False
456    False
457    False
458    False
459    False
Name: Artículo, Length: 460, dtype: bool

In [38]:
data[(data.Artículo == 'Gorras') & (data.Región == 'Norte')]

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
85,6/1/2016,Sarah Bond,Norte,Gorras,Vestimenta,9,"18,90"
156,10/1/2016,Trevor Snodgrass,Norte,Gorras,Vestimenta,7,"14,70"
159,11/1/2016,Steve Ashton,Norte,Gorras,Vestimenta,2,"4,20"
201,14/1/2016,Desmond Delaney,Norte,Gorras,Vestimenta,5,"10,50"
360,25/1/2016,Steve Ashton,Norte,Gorras,Vestimenta,7,"14,70"
368,26/1/2016,Boris Stanford,Norte,Gorras,Vestimenta,7,"14,70"
394,27/1/2016,Steve Ashton,Norte,Gorras,Vestimenta,14,"29,40"
396,27/1/2016,Trevor Snodgrass,Norte,Gorras,Vestimenta,3,"6,30"